*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================
Typography
=================== */
body {
  font-family: 'Inter Tight', sans-serif;
}

.mode {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #111827;
  width: 50%;
  height: 40px;
  background-color: #d1d5db;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.get-color {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.7px;
  color: #374151;
  background-color: rgb(209, 213, 219);
  padding: 0.5em 1em;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin-left: 25px;
}

.color-value {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5em;
  color: #2b283a;
  cursor: pointer;
}

/* ==============
Layout & white space
================= */
html,
body,
.container,
main {
  height: 100%;
}

.container,
main,
header,
footer {
  width: 100%;
}

header,
footer {
  background-color: #fff;
  position: fixed;
  z-index: 1;
}

header {
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
}

footer {
  height: 4em;
  box-shadow: 0 -4px 11px rgba(0, 0, 0, 0.15);
  bottom: 0;
}

.color-container {
  min-width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-dropper {
  width: 60px;
  height: 40px;
  border: 0.5px solid #d1d5db;
  cursor: pointer;
}

.eye-dropper:hover,
.eye-dropper:focus {
  background-color: #a9b1bc;
}

.color-value-container {
  height: 4em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ===============
Utility & event styles
================== */
.get-color:hover,
.get-color:focus {
  background-color: #a9b1bc;
}

.get-color:active {
  background-color: #8d97a5;
}

.loading {
  display: flex;
  justify-content: center;
}

.loading::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 4px solid #ddd;
  border-top-color: #4646e6;
  border-radius: 50%;
  animation: loading 1.5s ease-out infinite;
  align-self: center;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.alert-box {
  font-size: 0.75em;
  color: #000;
  background: rgb(234, 232, 232);
  padding: 1em;
  border-radius: 5%;
  position: absolute;
  top: -4em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  animation: 2s linear 0s 1 fadeOut;
  visibility: hidden;
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.error-container {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.5em;
}



/* Media queries */

@media screen and (max-width: 470px) {
  html {
    font-size: 14px;
  }

  .container {
    display: block;
  }

  main {
    max-height: 70%;
    display: block;
  }

  .color-container {
    width: 100%;
    min-width: 20%;
    height: 20%;
    padding: 2em;
    align-items: center;
  }

  header,
  footer {
    position: static;
  }

  header {
    min-height: 20%;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer {
    height: 10%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .alert-box {
    top: 90%;
    text-align: center;
  }

  .mode {
    width: 200px;
    margin: 0 1em;
  }

  .get-color {
    margin-top: 1.5em;
  }

  .color-value {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.5em;
    margin: 0.5em;
  }

  .alert-box {
    position: static;
    transform: none;
  }
}

@media screen and (max-width: 350px) {
  .mode {
    min-width: 150px;
    margin-top: 1em;
  }
}
